.bicicleta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-imagens{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img{
  /* Define flex-grow: 1; flex-shrink: 1; e flex-basis: 0; */

  /* Ao definir 1 para todos os Flex Itens, eles tentarão ter a mesma largura e vão ocupar 100% do container */

  /* flex-basis: 0 -> Se o grow for igual ou maior que 1, ele irá tentar manter todos os elementos com a mesma largura, independente do conteúdo */

  /* flex-shrink: Define a capacidade de redução de tamanho do item. */
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child{
  min-width: 100%;
}

.bicicleta-conteudo > p{
  margin-bottom: 32px;
}

.bicicleta-comprar{
  display: grid;
  grid-template-columns: max-content auto;
}